nav{

    background-color: #3C1460;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;

}
header a{
    color: white;
    text-decoration: overline;
    padding-left: 50px;
    font-size: 28px;

}
header a:hover{
    color: orange;
}

#href_for_kurv{

    background:transparent;
}

#kurv{
    background: none;
    width: 80px;
    height: 80px;
    object-fit: contain;
    padding-top: 10px;
}

body {
    margin: 0;
    padding: 0;
}

#logo1 {
    position: fixed;
    bottom: 10px;
    left: 10px;
    height: 100px;
}

h1{
    font-family: "Times New Roman", sans-serif;
    font-size: 58px;
    font-style: italic;
    color: #3c1460;
    padding-left: 20px;
}

table {
    width: 80%;
    margin: 50px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th {
    background-color: #3C1460;
    color: white;
    padding: 15px;
    text-align: left;
}

td {
    padding: 15px;
    border-bottom: 1px solid black;
    color: #333;
    background-color: #EBE2FF;
    border-left: 1px solid black;
    border-right: 1px solid black;

}

#table{

    padding-left: 20px;
}