<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Start</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/login.css" th:href="@{/css/login.css}" rel="stylesheet"/>

</head>

<body>
<header>
<img src='../public/images/img.png' id="billede">

</header>
<form class="loginside" method="post">

        <h1>Velkommen</h1>

        <input type="text" name="username" placeholder="Indtast brugernavn"/>
        <input type="password" name="password" placeholder="Indtast adgangskode"/>
        <button type="submit" id="loginknap" formaction="/login"> Log ind </button>

        <a href="/signup.html">Opret konto</a>

</form>
</body>
</html>