<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Start</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/signup.css" th:href="@{/css/signup.css}" rel="stylesheet"/>

</head>

<body>
<header>
    <img src= "/images/img.png" id="billede">

</header>
<form class="signupside" method="post">

    <h1> Oprettelse af bruger </h1>

    <input type="text" id="username" name="username" placeholder="Indtast brugernavn"/>
    <input type="password" id="password" name="password" placeholder="Indtast adgangskode"/>
    <button onclick=createUser() type="button" id="loginknap" formaction="/signup"> Opret bruger </button>

</form>
<script src="/javascript/main.js"></script>
</body>
</html>
